{% extends "base.html" %}
{% block content %}
<section class="page">
    <h1>About</h1>
    <h3>Premium photography by </h3>
	<h2 class="gradient-text">
	ACHU KHICHAR
	"CHIRWAI,JODHPUR"
	</h2>	
	<i>"We capture best moment of your life and convert it into love . We take order of wedding , pre wedding and other relegious programs. Our services are photography , videography , potrait etc. Drone shoot is also available for you on your demand . We are genrate wedding invitation videos for you . "</i>
	<h3>All In Your Service</h3>
	<a href="/contact" class="btn">
	BOOK A SHOOT NOW
	</a>
</section>

{% endblock %}
