
{% extends "base.html" %}

{% block content %}

<section class="gallery-2">
    <h1>Gallery</h1>
    <img src="{{ url_for('static', filename='gal.jpg') }}">
    <img src="{{ url_for('static', filename='gal1.jpg') }}">
    <img src="{{ url_for('static', filename='gal2.jpg') }}">
	<img src="{{ url_for('static', filename='gal3.jpg') }}">
	<img src="{{ url_for('static', filename='gal4.jpg') }}">
	<img src="{{ url_for('static', filename='gal5.jpg') }}">
	<img src="{{ url_for('static', filename='gal6.jpg') }}">
	<img src="{{ url_for('static', filename='gal7.jpg') }}">
	<img src="{{ url_for('static', filename='gal7.jpg') }}">
	<img src="{{ url_for('static', filename='gal8.jpg') }}">
	<img src="{{ url_for('static', filename='gal10.jpg') }}"> 
	<img src="{{ url_for('static', filename='gal11.jpg') }}">
	<img src="{{ url_for('static', filename='gal12.jpg') }}">
	<img src="{{ url_for('static', filename='gal13.jpg') }}">
	<img src="{{ url_for('static', filename='ga14l.jpg') }}">
	<img src="{{ url_for('static', filename='gal15.jpg') }}">
	<img src="{{ url_for('static', filename='gal16.jpg') }}">
	<img src="{{ url_for('static', filename='gal18.jpg') }}">
</section>

{% endblock %}
